* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  width: 80%;
  padding: 0 5px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header {
  width: 100%;
}

.menu-bar {
  width: 100%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #444;
  border: 1px solid #333;
}

.logo {
  width: 100%;
}

.menus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  list-style: none;
  width: 65px;
}

.menu-item-link,
.logo-link {
  color: #333;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  width: auto;
}

.hor-line {
  width: 2px;
  height: 20px;
  background-color: rgb(35, 39, 41);
  margin-right: 15px;
}

.time {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.book-list-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-new-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.btn-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-btn {
  border: 2px solid #444;
  background-color: #fff;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-type {
  list-style: disc;
  margin-left: 50px;
}

.book-from-storage {
  padding: 2px 5px;
  width: 100%;
  border: 2px solid black;
}

.popped-books {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popped-books:nth-child(odd) {
  background-color: #eee;
}

.popped-books .remove-btn {
  border: 2px solid #567;
  margin-bottom: 2px;
}

h3 {
  font-weight: 700;
}

.hidden {
  display: none;
}

.active {
  color: blue;
  font-weight: 700;
}

footer {
  width: 80%;
  border: 2px solid #333;
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
  padding-left: 10px;
}

.copy-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
